@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Todos</h1>
	<form method="post"
		  asp-page-handler="Todo">
		<input type="text" placeholder="Title" name="title" />
		<input type="text" placeholder="Enter your next Todo" name="description" />
		<button type="submit">Submit Todo</button>
	</form>
	@foreach (var item in Model.Todos)
	{
		string isDoneText = item.IsDone ? "Done" : "To do";
		<form method="post"
		asp-page-handler="IsDoneStatus"
		asp-route-id="@item.ID">
			<button type="submit">
				@isDoneText
			  </button>
		</form>
		<h2>@item.Title</h2>
		<p>@item.Description</p>
		<form method="post"
			  asp-page-handler="Delete"
			  asp-route-id="@item.ID">
			<button type="submit">Delete</button>
		</form>
	}

</div>
